/* /////////////////////////
//BODY
//////////////////////////*/
body {
    font-family: ;
}



/* /////////////////////////
//SECTION - GAMEBOARD 
//////////////////////////*/

.gameboard_grid {
    display: flex;
    justify-content: center;
}

.gameboard_column1, .gameboard_column2, .gameboard_column3 {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    width: 15%;
}

.gameboard_child {
    border: 1px solid darkgrey;
    text-align: center;
}

/* /////////////////////////
//MODAL - QUESTION & ANSWER
//////////////////////////*/

.gameboard_child {
    position: relative:
}

.modal-card {
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-content {
    background-color: royalblue;
    border: 2px solid darkgrey;
    color: white;
    padding: 100px;
}